/* .home{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crete_form input{
  width: 300px;
  padding: 10px;
  border-bottom: 2px soild;
  outline:none;
}
.crete_form button{
  padding:10px;
  background-color: black;
  color: white;
  cursor: pointer;

} */